<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>감정미디어 설문 평가</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <style>
        .text-main{
            font-size: 20px;
        }
        .btn-start{
            height: 60px;
            width: 160px;
            font-size: 20px;
        }
    </style>
</head>
<body class="nav-md bg-white">
<div class="container">
    <h1>설문에 응해주셔서 감사합니다.</h1>
    <h3>응해주신 설문에 관하여 질문이 있으시면, sgy1017@naver.com로 이메일 주시기 바랍니다.</h3>
</div>
</body>
</html>
